// FONTS

@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Patrick+Hand|Lato:400,300,700,900);

// MEDIA QUERIES

@mobile:      ~"only screen and (max-width: 768px)";

// COLORS

@primary-color: #A5916B;
@secondary-color: #E8E1D2;

// LET'S DO IT
 html {
    height: 100%;
    width: 100%;
    display: block;
    position: static;
    overflow: hidden;  
    padding: 0;
    margin: 0;    
    }

body {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;  
  padding: 0;
  margin: 0;  
  background: #FFF;
  font-family: 'lato';
  position: relative;
}
    
.wrapper {
    height: 100% !important;
    margin: 0 auto; 
    overflow: hidden;
}

.topnav {
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 12px auto;
    text-align: center;
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            margin: 0 12px;
            a {
                text-decoration: none;
                color: #FFF;
                opacity: 0.7;
                font-weight: 300;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
    section {
        overflow: hidden;
//        .container {
////            position: relative;
//            margin: 0 auto 0;
//            max-width: 600px !important;
//            z-index: 3;
//            top: 10%;
//        }
    }
    .page1 {
//        background: url("../images/bg-header.jpg") center no-repeat;
//        background-size: cover;
        text-align: center;
        color: #FFF;
        background-color: #5F5752;
        h1 {
          font-size: 72px;
          font-weight: 900;
          text-transform: uppercase;
          margin: 64px -8px 0px 0px;
          letter-spacing: 12px;
        }
        h2 {
          font-family: 'Shadows Into Light';
          font-size: 24px;
          margin-top: 4px;
          letter-spacing: 1px;
            .line {
                border-bottom: 2px solid #FFF;
                top: -17px;
                position: relative;
                margin: 0 -2px 0 -2px;
                padding: 0 6px 0 6px;
            }
            .offset-line {
                position: relative;
                top: 17px;
            }
        }
    }
     .page1:before {
          content: "";
          position: absolute;
          background-image: url('../images/bg-header-alt.jpg');
          background-size: cover;
         background-position: center;
          display: block;
          width: 102%;
          height: 102%;
         left: -1%;
         top: -1%;
          opacity: 0.4;
//          z-index: 0;      
          -webkit-filter: blur(4px);
          -moz-filter: blur(4px);
          -o-filter: blur(4px);
          -ms-filter: blur(4px);
          filter: blur(4px);
     }
    .page2 {
        background-color: #52443B;    
        text-align: center;
        color: #FFF;
    }
    .page2:before {
          content: "";
          position: absolute;
          background-image: url('../images/bg-saopaulo.jpg');
          background-size: cover;
        background-position: center;
          display: block;
          width: 100%;
          height: 100%;
          opacity: 0.4;
//          z-index: 0;      
//          -webkit-filter: blur(4px);
//          -moz-filter: blur(4px);
//          -o-filter: blur(4px);
//          -ms-filter: blur(4px);
//          filter: blur(4px);
     }
    
    .page3 {
        background-color: @primary-color;    
        text-align: center;
        color: #FFF;
    }
    .page4 {
                background-color: #FFF;    
        text-align: center;
        color: @primary-color;
    }
    .page5 {
        background-color: @primary-color;    
        text-align: center;
        color: #FFF;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
    }
}

.verticalMiddle {
            position: absolute;
            margin: auto;        
            height: 300px;
            top: 24px;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 850px;
            width: 95%;
}



.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  z-index: 5;
  list-style: none;
  margin: auto;
  padding: 0;
  height: 120px;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid #FFF;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
